<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198778978788-gbfcrvlgolsth8agcafolgiqq1jo24f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198778978788-gbfcrvlgolsth8agcafolgiqq1jo24f1</string>
	<key>API_KEY</key>
	<string>AIzaSyBgowfBIQ9udEmoVJ-SWgU-thtfqJhu0T0</string>
	<key>GCM_SENDER_ID</key>
	<string>198778978788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.novikovMaxim.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-2ae53</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-2ae53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198778978788:ios:71c51a48e6349ab95ec7f1</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-2ae53.firebaseio.com</string>
</dict>
</plist>